.menu{
    margin-bottom: 2rem;
    text-align: right;
    font-size: 5vw;
    @include media-queries(medium){
        font-size: 1.5rem;
        grid-area: menu;
    }
    ul{
        @include media-queries(medium){
            display: flex;
            justify-content:space-evenly;
        }
        @include media-queries(large){
            display:initial;
        }
    }
    li{list-style: none;}
    a{
        padding-right: .5rem;
        display: block;
            &:hover{
                color: var(--main-color);
                background-color: var(--alternate-color);
                @include media-queries(medium){
                    background-color: transparent;
                }
                @include media-queries(large){
                    background-color: var(--alternate-color);
                }
            }

    }
}
