.Photos {
    @extend .u-responsive-flexbox;
  
    figure {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
  
    img { background-color: var(--border-color); }
  
    figcaption {
      padding: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 4vw;
      color: var(--alternate-color);
      background-color: var(--second-color);
  
      @include media-queries(medium) { font-size: 1.5rem; }
    }
  
    .fa-trash { cursor: pointer; }
  }